* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #9000ff 80%, #ff00bf);
}
#container {
  border: 1px solid black;
  min-height: 300px;
  padding: 10px 20px;
  width: 400px;
  border-radius: 8px;
  background: white;
}
h1 {
  margin-bottom: 15px;
  font-size: 24px;
}
#input-field {
  display: grid;
  grid-template-columns: 1fr 85px;
  background-color: rgb(226, 222, 216);
  border-radius: 15px;
  margin-bottom: 10px;
}
input {
  padding-left: 10px;
  font-size: 14px;
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}
#add-btn {
  width: 85px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  background-color: orangered;
}
.list-element{
    display: grid;
    grid-template-columns: 1fr 30px;
    padding: 5px;
    margin: 5px 0;
    background-color: rgb(250, 250, 250);
}
span{
    width: 100%;
    padding-left: 10px;
}
#delete-btn{
    background-color: transparent;
    border: white;
    font-weight: bolder;
}